<p id="notice"><%= notice %></p>

<h1 class="resultssuccess">I DID IT!!!</h1>
<%= link_to "See Results", new_question_grill_result_path(@question.question_id, @grill), class: "btn btn-default btn-lg" %></br></br>


