<div class="button-position">
<%= button_to 'CREATE A QUIZ', new_question_path, :class => "create-button", :method => "get" %>
</div>
<div class="outer">
<div class="middle">
<div class="inner-welcome">

<div class="main-welcome">
<h1>Welcome to Q3 Quiz</h1>
<p>A simple quiz web app</p>
</div>

</div>
</div>
</div>
