.create-button {
    width: 250px;
    padding: 24px;

}

.button-position form {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 100;
}
.create-button {
    color: black;
    background: white;
    display: inline-block;
}

.main-welcome {
display: flex;
  justify-content: center;
  align-items: center;
    // padding: 20em;
    // height: 500px;
    // margin: 0px auto;

}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner-welcome {
    margin-left: auto;
    margin-right: auto; 
        width: 600px;
        height: 300px;
    background:blue;
    display: flex;
      justify-content: center;

}